kernel_CXX_FLAGS = -mno-red-zone -mcmodel=kernel -Drestrict=__restrict
kernel_OBJECTS =  \
	src/kernel/saturn.o \
	src/kernel/log.o \
	src/kernel/saturn_startup.o \
	src/kernel/arch/x86_64/gdt.o \
	src/kernel/arch/x86_64/memory/physical_memory_manager.o \
	src/kernel/arch/x86_64/memory/virtual_memory_manager.o \
	src/kernel/arch/x86_64/cpu/initialise_sse.o \
	src/kernel/arch/x86_64/cpu/msr.o \
	src/kernel/arch/x86_64/cpu/pic.o \
	src/kernel/arch/x86_64/idt/descriptor.o \
	src/kernel/arch/x86_64/idt/exceptions.o \
	src/kernel/arch/x86_64/idt/exception_stubs.o \
	src/kernel/arch/x86_64/cpu/metablocks.o

TARGETS += kernel
BINARIES += saturn.bin
OBJECTS += $(kernel_OBJECTS)
LINK_LIST = \
	sysroot/system/libraries/libc_startup.o \
    $(kernel_OBJECTS) 

kernel_LIBS = -lc_kernel

saturn.bin: dependency_directories $(kernel_OBJECTS) $(ARCHDIR)/linker.ld libc_kernel.a
	$(LD) -T $(ARCHDIR)/linker.ld -o sysroot/system/boot/$@ $(GLOBAL_LD_FLAGS) $(LINK_LIST) $(kernel_LIBS) 