kernel_CXX_FLAGS = 
kernel_OBJECTS =  \
	$(ARCHDIR)/bootstrap.o 

TARGETS += kernel
BINARIES += saturn.bin
OBJECTS += $(kernel_OBJECTS)
LINK_LIST = \
	#$(ARCHDIR)/crti.o \
	#$(shell $(CC) $(CFLAGS) -m32 -print-file-name=crtbegin.o) \
    $(kernel_OBJECTS) \
	#$(shell $(CC) $(CFLAGS) -m32 -print-file-name=crtend.o) \
	#$(ARCHDIR)/crtn.o

LDFLAGS = -g

saturn.bin: $(kernel_OBJECTS) $(ARCHDIR)/linker.ld
	$(LD) -T $(ARCHDIR)/linker.ld -o sysroot/system/boot/$@ $(LDFLAGS) $(LINK_LIST)