SERVICESDIR = src/services

TERMINAL_OBJS = \
	$(SERVICESDIR)/terminal/vga.o \
	$(SERVICESDIR)/terminal/terminal.o 

PS2_OBJS = \
	$(SERVICESDIR)/ps2/ps2.o 

KEYBOARD_OBJS = \
	$(SERVICESDIR)/keyboard/keyboard.o 

SPLASH_OBJS = \
	$(SERVICESDIR)/splash/splash.o 

MEMORY_OBJS = \
	$(SERVICESDIR)/memory/memory.o 

VFS_OBJS = \
	$(SERVICESDIR)/virtualFileSystem/virtualFileSystem.o \
	$(SERVICESDIR)/virtualFileSystem/vostok.o 

PFS_OBJS = \
	$(SERVICESDIR)/processFileSystem/processFileSystem.o \
	$(SERVICESDIR)/processFileSystem/object.o 

FFS_OBJS = \
	$(SERVICESDIR)/fakeFileSystem/fakeFileSystem.o 

HFS_OBJS = \
	$(SERVICESDIR)/hardwareFileSystem/system.o \
	$(SERVICESDIR)/hardwareFileSystem/object.o \
	$(SERVICESDIR)/hardwareFileSystem/cpu/id.o \
	$(SERVICESDIR)/hardwareFileSystem/cpu/features.o \
	$(SERVICESDIR)/hardwareFileSystem/cpu/instructionsets.o \
	$(SERVICESDIR)/hardwareFileSystem/cpu/instructions.o \
	$(SERVICESDIR)/hardwareFileSystem/cpu/support.o \
	$(SERVICESDIR)/hardwareFileSystem/cpu/extensions.o \
	$(SERVICESDIR)/hardwareFileSystem/cpu/technology.o \
	$(SERVICESDIR)/hardwareFileSystem/cpu/cpu.o \
	$(SERVICESDIR)/hardwareFileSystem/pci/function.o \
	$(SERVICESDIR)/hardwareFileSystem/pci/device.o \
	$(SERVICESDIR)/hardwareFileSystem/pci/host.o \
	$(SERVICESDIR)/hardwareFileSystem/pci/pci.o \

STARTUP_OBJS = \
	$(SERVICESDIR)/startup/startup.o 

DISCOVERY_OBJS = \
	$(SERVICESDIR)/discovery/loader.o \
	$(SERVICESDIR)/discovery/pci.o \

DRIVERSDIR = $(SERVICESDIR)/drivers

DRIVER_OBJS = \
	$(DRIVERSDIR)/bochsGraphicsAdaptor/driver.o

SERVICES_OBJS = \
    $(TERMINAL_OBJS) \
    $(PS2_OBJS) \
    $(KEYBOARD_OBJS) \
    $(SPLASH_OBJS) \
    $(MEMORY_OBJS) \
    $(VFS_OBJS) \
    $(PFS_OBJS) \
    $(FFS_OBJS) \
    $(HFS_OBJS) \
    $(STARTUP_OBJS) \
	$(DISCOVERY_OBJS) \
	$(DRIVER_OBJS)