LIBDIR = src/services/apollo/lib

LIB_APOLLO_OBJS = \
    $(LIBDIR)/text.o \
    $(LIBDIR)/debug.o \
    $(LIBDIR)/layout.o \
    $(LIBDIR)/window.o \
    $(LIBDIR)/renderer.o \
    $(LIBDIR)/elements/element.o \
    $(LIBDIR)/elements/grid.o \
    $(LIBDIR)/elements/listview.o \
    $(LIBDIR)/elements/label.o 