loader_CXX_FLAGS = "--target=i686-saturn -march=i686"
loader_CXX_FLAGS += -mno-mmx -mno-sse -mno-sse2
loader_AS_FLAGS = -f elf32
loader_OBJECTS = \
    src/loader/boot.o \
    src/loader/print.o \
    src/loader/elf.o \
    src/loader/panic.o \
    src/loader/idt_32.o \
    src/loader/isr_stubs.o \
    src/loader/gdt.o \
    src/loader/startup.o

TARGETS += loader
BINARIES += loader.bin
OBJECTS += $(loader_OBJECTS)
LINK_LIST = $(loader_OBJECTS)

LDFLAGS = -g 

loader.bin: dependency_directories $(loader_OBJECTS) 
	$(LD) -n -T src/loader/linker.ld -m elf_i386_saturn -o sysroot/system/boot/$@ $(GLOBAL_LD_FLAGS) $(loader_OBJECTS)