libc_CXX_FLAGS = -mno-red-zone -mcmodel=kernel -Drestrict=__restrict

libc_COMMON_OBJS = \
    src/libc/freestanding/string/memset.o \
    src/libc/freestanding/string/memcmp.o \
    src/libc/freestanding/string/memcpy.o \
    src/libc/freestanding/string/memmove.o \
    src/libc/freestanding/string/strlen.o \
    src/libc/freestanding/string/strcmp.o \
    src/libc/freestanding/string/strrchr.o \
    src/libc/freestanding/string/strstr.o \
    src/libc/freestanding/string/memchr.o \
    src/libc/freestanding/string/strcpy.o \
    src/libc/freestanding/string/strncpy.o \
    src/libc/freestanding/string/strcat.o \
    src/libc/freestanding/wchar/wcstol.o \
    src/libc/freestanding/wchar/wcstoul.o \
    src/libc/freestanding/wchar/wcstof.o \
    src/libc/freestanding/wchar/wprintf.o \
    src/libc/freestanding/wchar/wcslen.o \
    src/libc/freestanding/wchar/wmemcpy.o \
    src/libc/freestanding/wchar/wmemset.o \
    src/libc/freestanding/wchar/wmemmove.o \
    src/libc/freestanding/wchar/wmemchr.o \
    src/libc/freestanding/wchar/wmemcmp.o \
    src/libc/freestanding/stdlib/malloc.o \
    src/libc/freestanding/stdlib/aligned_alloc.o \
    src/libc/freestanding/stdlib/realloc.o \
    src/libc/freestanding/stdlib/free.o \
    src/libc/freestanding/stdlib/strtol.o \
    src/libc/freestanding/stdlib/qsort.o \
    src/libc/freestanding/stdlib/abort.o \
    src/libc/freestanding/stdlib/strtoul.o \
    src/libc/freestanding/stdlib/strtof.o \
    src/libc/freestanding/ctype.o \
    src/libc/freestanding/cxa_guards.o \
    src/libc/freestanding/initialize_libc.o \
    src/libc/freestanding/stack_check.o \
    src/libc/freestanding/setjmp.o \
    src/libc/freestanding/errno.o

libc_KERNEL_OBJS = \
    $(libc_COMMON_OBJS) \
    src/libc/freestanding/stdio/printf.o 

libc_USER_OBJS = \
    $(libc_COMMON_OBJS) \
    src/libc/freestanding/stdio/standard_streams.o \
    src/libc/freestanding/stdio/fopen.o \
    src/libc/freestanding/stdio/fseek.o \
    src/libc/freestanding/stdio/ftell.o \
    src/libc/freestanding/stdio/fclose.o \
    src/libc/freestanding/stdio/fread.o \
    src/libc/freestanding/stdio/fwrite.o \
    src/libc/freestanding/system_calls/sleep.o \
    src/libc/freestanding/system_calls/sendImplementation.o \
    src/libc/freestanding/system_calls/send.o \
    src/libc/freestanding/system_calls/receive.o \
    src/libc/freestanding/system_calls/read.o \
    src/libc/freestanding/system_calls/close.o \
    src/libc/freestanding/system_calls/create.o \
    src/libc/freestanding/system_calls/open.o \
    src/libc/freestanding/system_calls/seek.o \
    src/libc/freestanding/system_calls/write.o \
    src/libc/freestanding/system_calls/run.o \
    src/libc/freestanding/system_calls/waitForServiceRegistered.o \
    src/libc/freestanding/system_calls/map.o \
    src/libc/hosted/stdio/printf.o

libc_USER_NOT_LINKED_OBJS = \
    src/libc/hosted/crt1.o

TARGETS += libc
BINARIES += libc_kernel.a libc_user.a
OBJECTS += $(libc_KERNEL_OBJS) $(libc_USER_OBJS)

copy_libc_headers:
	cp -R --preserve=timestamps src/libc/include sysroot/system/

libc_kernel.a: dependency_directories $(libc_KERNEL_OBJS) $(ARCHDIR)/linker.ld copy_libc_headers
	$(AR) rcs src/libc/libc_kernel.a $(libc_KERNEL_OBJS)
	ranlib src/libc/libc_kernel.a
	cp src/libc/libc_kernel.a sysroot/system/libraries

libc_user.a: dependency_directories $(libc_USER_OBJS) $(ARCHDIR)/linker.ld copy_libc_headers
	$(AR) rcs src/libc/libc_user.a $(libc_USER_OBJS)
	ranlib src/libc/libc_user.a
	cp src/libc/libc_user.a sysroot/system/libraries